.forms{
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}
.auth-form {
  max-width: 270px;
  margin: 20px 20px; 
  padding: 40px;
  border: 1px solid var(--second--bg--color);
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: var(--second--bg--color);
  float: left;
  }

  .auth-form input{
    display: block;
    margin: 10px;
    font-size: 1.25em;
  }

  .auth-form label{
    color: var(--heading-color);
  }

  .options{
    position: relative;
    left: 10px;
    max-width: 360px;
    margin: 20px 20px; 
    padding: 40px;
    border: 1px solid var(--second--bg--color);
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: var(--second--bg--color);
    float: left;
}

.options p{
    color: var(--heading-color);
}
